<div class="fh5co-loader"></div>

<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-2">
					<div id="fh5co-logo"><a href="{{ path('acceuil') }}">Burrow.</a></div>
				</div>
				<div class="col-md-5 col-xs-5 text-center menu-1">
					<ul>
					    <li><a href="{{ path('acceuil') }}" style="color:#000000;">Home</a></li>
						<li class="has-dropdown">
							<a href="{{ path('product') }}">Shop</a>
							
						</li>
						
						
						<li><a href="{{ path('contactus') }}">Contact us</a></li>
						<li><a href="{{ path('aboutus') }}">About Us</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-xs-4 text-right hidden-xs menu-2">
					<ul>
					
			<li class="nav-item"><a class="nav-link" aria-current="page"  href="{{ path('cart_index') }}" class="cart"><span><img src="{{ asset("assets/images/shopping-cart.png") }}"/></span></a></li>
		    <li><a href="{{ path('app_login') }}"><span><img src="{{ asset("assets/images/login.png") }}"/></span></a></li>

					</ul>
				</div>
			</div>
			
		</div>
	</nav>
